{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>

<header>
    <nav>
        {% comment %} <ul>
            <li id ="myportfolio" >My Portfolio</a></li>
        </ul> {% endcomment %}
        <ul>
            <li class="{% block homeblock %}{% endblock %}"><a href="{% url 'home' %}">Home</a></li>
            <li class="{% block aboutblock %}{% endblock %}"><a href="{% url 'about' %}">About</a></li>
            <li class="{% block contactblock %}{% endblock %}"><a href="{% url 'contact' %}">Contact</a></li>
            <li class="{% block skillblock %}{% endblock %}"><a href="{% url 'skill' %}">Skill</a></li>
            <li class="{% block projectblock %}{% endblock %}"><a href="{% url 'project' %}">Project</a></li>
            <li class="{% block registerblock %}{% endblock %}"><a href="{% url 'register' %}"> register</a></li>
        </ul>
    </nav>
</header>

{% block bodyblock %}{% endblock bodyblock %}

</body>
</html>